<div class="grid5-container">
    <div class="grid-item 1" id="box1"><input type="checkbox" class="1"><p id="check1"></p></input></div>
    <div class="grid-item 2" id="box2"><input type="checkbox" class="2"><p id="check2"></p></input></div>
    <div class="grid-item 3" id="box3"><input type="checkbox" class="3"><p id="check3"></p></input></div>
    <div class="grid-item 4" id="box4"><input type="checkbox" class="4"><p id="check4"></p></input></div>
    <div class="grid-item 5" id="box5"><input type="checkbox" class="5"><p id="check5"></p></input></div>
    <div class="grid-item 6" id="box6"><input type="checkbox" class="6"><p id="check6"></p></input></div>
    <div class="grid-item 7" id="box7"><input type="checkbox" class="7"><p id="check7"></p></input></div>
    <div class="grid-item 8" id="box8"><input type="checkbox" class="8"><p id="check8"></p></input></div>
    <div class="grid-item 9" id="box9"><input type="checkbox" class="9"><p id="check9"></p></input></div>
    <div class="grid-item 10" id="box10"><input type="checkbox" class="10"><p id="check10"></p></input></div>
    <div class="grid-item 11" id="box11"><input type="checkbox" class="11"><p id="check11"></p></input></div>
    <div class="grid-item 12" id="box12"><input type="checkbox" class="12"><p id="check12"></p></input></div>
    <div class="grid-item 13" id="box13"><input type="checkbox" class="13"><p id="check13"></p></input></div>
    <div class="grid-item 14" id="box14"><input type="checkbox" class="14"><p id="check14"></p></input></div>
    <div class="grid-item 15" id="box15"><input type="checkbox" class="15"><p id="check15"></p></input></div>
    <div class="grid-item 16" id="box16"><input type="checkbox" class="16"><p id="check16"></p></input></div>
    <div class="grid-item 17" id="box17"><input type="checkbox" class="17"><p id="check17"></p></input></div>
    <div class="grid-item 18" id="box18"><input type="checkbox" class="18"><p id="check18"></p></input></div>
    <div class="grid-item 19" id="box19"><input type="checkbox" class="19"><p id="check19"></p></input></div>
    <div class="grid-item 20" id="box20"><input type="checkbox" class="20"><p id="check20"></p></input></div>
    <div class="grid-item 21" id="box21"><input type="checkbox" class="21"><p id="check21"></p></input></div>
    <div class="grid-item 22" id="box22"><input type="checkbox" class="22"><p id="check22"></p></input></div>
    <div class="grid-item 23" id="box23"><input type="checkbox" class="23"><p id="check23"></p></input></div>
    <div class="grid-item 24" id="box24"><input type="checkbox" class="24"><p id="check24"></p></input></div>
    <div class="grid-item 25" id="box25"><input type="checkbox" class="25"><p id="check25"></p></input></div>
</div>