<div class="grid3-container">
    <div class="grid-item 1" id="box1"><input type="checkbox" class="1"><p id="check1"></p></input></div>
    <div class="grid-item 2" id="box2"><input type="checkbox" class="2"><p id="check2"></p></input></div>
    <div class="grid-item 3" id="box3"><input type="checkbox" class="3"><p id="check3"></p></input></div>
    <div class="grid-item 4" id="box4"><input type="checkbox" class="4"><p id="check4"></p></input></div>
    <div class="grid-item 5" id="box5"><input type="checkbox" class="5"><p id="check5"></p></input></div>
    <div class="grid-item 6" id="box6"><input type="checkbox" class="6"><p id="check6"></p></input></div>
    <div class="grid-item 7" id="box7"><input type="checkbox" class="7"><p id="check7"></p></input></div>
    <div class="grid-item 8" id="box8"><input type="checkbox" class="8"><p id="check8"></p></input></div>
    <div class="grid-item 9" id="box9"><input type="checkbox" class="9"><p id="check9"></p></input></div>
</div>